[submodule "include/matrix"]
	path = include/matrix
	url = https://github.com/douglasrizzo/matrix.git
[submodule "include/mersenne_twister"]
	path = include/mersenne_twister
	url = https://github.com/douglasrizzo/mersenne_twister.git